.header-form {
  background: #cccccc;
  padding: 1rem;
}
.send-btn {
  color: #fff;
  background-color: #2681ac;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 0;
  margin: 0.2rem 0;
}

.send-btn:hover {
  background-color: #269ed0;
}

.spec-url,
.spec-url-select {
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}
